/* Variables */
#header {
  color: #4d926f;
}
h2 {
  color: #4d926f;
}
/* Mixins */
#header {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#footer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Nested Rules */
#header {
  color: red;
}
#header a {
  font-weight: bold;
  text-decoration: none;
}
#header a:hover {
  color: #000;
  text-decoration: underline;
}
/* Operations */
#header {
  color: #333333;
  border-left: 1px;
  border-right: 2px;
}
#footer {
  color: #333333;
}
#urltest {
  background-image: url(../../images/banana.png);
}
/* Importing */
/* test-import.less */
#foo {
  color: #eeffff;
}
/* test-import2.less.css */
#foo {
  color: #eeffff;
}
